<div class="row" >
  <div class="card border-0" style="width:100%;" >
    <div class="card-header border-bottom" style="background-color:white;">
       <nav class="navbar d-flex justify-content-start">
        <img class="" src="" alt="" width="60" height="60" style="object-fit:cover; border-radius:50%;">
         <p><br>
            <small>
              <span class="material-icons text-primary" style="font-size:100%;">star</span>
              <span class="material-icons text-primary" style="font-size:100%;">star</span>
              <span class="material-icons text-primary" style="font-size:100%;">star</span>
              <span class="material-icons text-primary" style="font-size:100%;">star</span>
              <span class="material-icons text-primary" style="font-size:100%;">star</span>
            </small>
          </p>
       </nav>
    </div>
    <div class="card-body d-flex justify-content-start">
        <p></p>
    </div>
  </div>
  <nav class="navbar d-flex justify-content-center">
   <!-- <pagination-controls id="listing_pagination"   (pageChange)="page = $event"></pagination-controls>-->
   </nav>
  </div>
  <ng-template #elseBlock><h1 class="text-center">No results found</h1></ng-template>
